body{
    background-image: url('.././img/star-wars-bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
}

.topCardClass{
    margin: 100px;
}

.cardMain{
    border-radius: 5px;
}

.cardImage{
   border-radius: 5px 5px 0px 0px;    
}

.card-body{
    background: rgba(40,39,39, 0.6);
    color: white;
}

.card-footer{
    background: rgba(255,255,255, 0.6);
}

.navbarClass{
    background: rgb(65, 62, 62);
    color: white;
}